<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CsharpDB" connectionString="Driver={MySQL ODBC 5.2 UNICODE Driver};Server=10.174.27.3;Database=5ahwii_kunesch;User=5ahwii_kunesch;Password=26.07.2001;Option=3;" />
  </connectionStrings>
</configuration>